.venv
__pycache__
results
checkpoints
*.json
*.egg-info
*.hf
.DS_Store
.pytest_cache
.ruff_cache
dump/
env/
.venv/
.env
.env.remote
*.origami
dist/
*.pt
dump/
*.npy
*.csv
*.json[l]
*.png
*.pdf
experiments/index-advisor/ab-results/*
experiments/index-advisor/cache/*
